.header {
    background: $dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    display: none;

    h1 {
        margin: 0;
    }

    @media (min-width: $desktop-breakpoint) {
        display: block;
    }
}

.header__links {
    display: flex;
    justify-content: flex-end;
}
